name: Release version

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build-package:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6

      - name: Install build dependencies
        run: pip install -U build

      - name: Build
        run: python -m build --wheel --sdist .

      - uses: actions/upload-artifact@v5
        with:
          path: |
            ./dist/*.whl
            ./dist/*.tar.gz
          name: wheels-sdist

  deploy-package:
    name: Publish package
    runs-on: ubuntu-latest
    if: github.event_name == 'tag'
    environment: release
    permissions:
      contents: write
      id-token: write
    needs: ["build-package"]
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: wheels-sdist
          path: deploy

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: deploy

      - name: Publish to GitHub
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: false
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: |
            ./deploy/*.whl
            ./deploy/*.tar.gz

  deploy-docs:
    name: Publish documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: python -m pip install --upgrade pip tox

      - name: Generate HTML
        run: tox -e docs

      - name: Clean up Sphinx detritus
        run: rm -rf docs/_build/html/{.doctrees,.buildinfo}

      - name: Deploy HTML documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/_build/html
